{{ title }}
<p>Learn {{ course }} with me.</p>
<button (click)="goBack()">Button</button>

<app-basic-form> </app-basic-form>

<div *ngIf="courses">
  <h2>{{ courses.name | uppercase }} details</h2>
  <p>ID:{{ courses.id }}</p>
  <label
    >Name:
    <input [(ngModel)]="courses.name" placeholder="name" />
  </label>
</div>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<div>
  <img id="dolphins" src="{{ image }}" />
</div>
<div><img [src]="image" /></div>
<div></div>

<router-outlet></router-outlet>
